<div class="container mt-4">
  <h3>Add User</h3>

  <div class="card p-3">

    <input [(ngModel)]="userDetails().name"
           type="text"
           placeholder="Name"
           class="form-control mb-2">

    <input [(ngModel)]="userDetails().email"
           type="email"
           placeholder="Email"
           class="form-control mb-2">

    <input [(ngModel)]="userDetails().mobile"
           type="number"
           placeholder="Mobile"
           class="form-control mb-2">

    <input [(ngModel)]="userDetails().age"
           type="number"
           placeholder="Age"
           class="form-control mb-2">

    <button (click)="addUser()"
            class="btn btn-success w-100">
      ADD USER
    </button>

  </div>
</div>

